.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}
.header__logo img {
    height: 60px;
}
.header__menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__menu li {
    margin-right: 20px;
}
